html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body{
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    height: 90vh;
    margin: 0 auto;
    background-color: rgb(235 142 157 / 10%);

}